<%= bootstrap_form_for(@reference.new_record? ? [@thinker, @reference] : @reference) do |f| %>
  <% if @reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% @reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :authors, label: 'Author name(s)', class: 'form-control', autofocus: true, placeholder: 'last name, first name' %>
  </div>

  <div class="field">
    <%= f.number_field :publishing_year, label: 'Year of Publication', class: 'form-control', autofocus: true, placeholder: '1850'  %>
  </div>

  <div class="field">  
    <%= f.text_area :title, label: 'Title of Book/Text', class: 'form-control', autofocus: true, placeholder: 'Title'  %>
  </div>

  <div class="field">
    <%= f.text_field :publisher, label: 'Publisher', class: 'form-control', autofocus: true, placeholder: 'Publisher'  %>
  </div>
  <div class="field">
    <%= f.text_field :place_of_publication, label: 'Place of Publication', class: 'form-control', autofocus: true, placeholder: 'City'  %>
  </div>

  <p>
    <%= f.submit "Create Reference" %>
  </p>
<% end %>
