<h1>Listing References</h1>

<div class="center jumbotron">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Authors</th>
      <th>Publishing year</th>
      <th>Title</th>
      <th>Publisher</th>
      <th>Place of publication</th>
      <th>Thinker</th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.authors %></td>
        <td><%= reference.publishing_year %></td>
        <td><%= reference.title %></td>
        <td><%= reference.publisher %></td>
        <td><%= reference.place_of_publication %></td>
        <td><%= reference.thinker.name %></td>
        <td><%= link_to 'Show', reference_path(reference) %></td>
        <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
        <td><%= link_to 'Destroy', reference_path(reference), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reference', new_thinker_reference_path(@thinker) %>
</div>