<p id="notice"><%= notice %></p>

<p>
  <strong>Authors:</strong>
  <%= @reference.authors %>
</p>

<p>
  <strong>Publishing year:</strong>
  <%= @reference.publishing_year %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reference.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @reference.publisher %>
</p>

<p>
  <strong>Place of publication:</strong>
  <%= @reference.place_of_publication %>
</p>

<p>
  <strong>Thinker:</strong>
  <%= @reference.thinker %>
</p>

<%= link_to 'Edit Reference', edit_reference_path(@reference) %> |
<%= link_to 'Back', thinker_references_path(@thinker) %>
