<%= bootstrap_form_for @thinker do |f| %>

<% if @thinker.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@thinker.errors.count, "error") %> prohibited
        this topic from being saved:
      </h2>
      <ul>
        <% @thinker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.text_field :name %>
  </p>
 
  <p>
     <%= f.text_field :topic_list %>
  </p>

  <p>
    <%= f.date_field :life_date_birth %>
    <%= f.date_field :life_date_death %>
  </p>

  <p>
     <%= f.email_field :email %>
  </p>

  <p>
    <%= f.submit "Create Thinker" %>
  </p>
 
<% end %>


