<%= bootstrap_form_for @thinker do |f| %>

<% if @thinker.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@thinker.errors.count, "error") %> prohibited
        this topic from being saved:
      </h2>
      <ul>
        <% @thinker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.text_field :name, label: 'Name', placeholder: 'last name, first name' %>
  </p>
 
  <p>
     <%= f.text_field :topic_list, label: 'Topics/Research Areas' %>
  </p>

  <p>
    <%= f.text_field :life_date_birth, label: 'Date of birth', class: 'form-control', autofocus: true, placeholder: '1850' %>
    <%= f.text_field :life_date_death, label: 'Date of death', class: 'form-control', autofocus: true, placeholder: '1930' %>
  </p>

  <p>
     <%= f.email_field :email %>
  </p>

  <p>
    <%= f.submit "Create Thinker" %>
  </p>
 
<% end %>


