<% provide(:title, "Index") %>
<div class="center jumbotron">

<h2>List of thinkers</h2>

   <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Life Dates</th>
      <th>Topics</th>
    </tr>
   
    <% @thinkers.each do |thinker| %>
      
        <tr>
          <td><%= link_to thinker.name, thinker_path(thinker) %></td>
          <td><%= life_dates_for(thinker.life_date_birth, thinker.life_date_death) %></td>
          <td>
          <% thinker.topic_list.each do |topic| %>
            <span class="topic">
            <%= link_to topic, topic_path(topic) %>
            </span>
          <% end %>
          </td>
          <td><%= link_to '', edit_thinker_path(thinker), class: 'glyphicon glyphicon-pencil' %>
          </td>
          <td>
            <%= link_to '', thinker_path(thinker), class: 'glyphicon glyphicon-trash',
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      
    <% end %>
  </table>

</div>



          
        