<h1>Listing thinkers</h1>

<div class="center jumbotron">

   <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Life Dates</th>
      <th>Email</th>
      <th>Topics</th>
    </tr>
   
    <% @thinkers.each do |thinker| %>
      
        <tr>
          <td><%= link_to thinker.name, thinker_path(thinker) %></td>
          <td><%= thinker.life_date_birth %></td>
          <td><%= thinker.email %></td>
          <td>
          <% thinker.topic_list.each do |topic| %>
            <%= link_to topic, topic_path(topic) %>
          <% end %>
          </td>
          <td><%= link_to '', edit_thinker_path(thinker), class: 'glyphicon glyphicon-pencil' %>
          </td>
          <td>
            <%= link_to '', thinker_path(thinker), class: 'glyphicon glyphicon-trash',
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      
    <% end %>
  </table>

</div>



          
        