<% provide(:title, "Show") %>
<div class="center jumbotron"> 

<h2>Thinker:</h2>

<p>
  <strong>Name:</strong>
  <%= @thinker.name %>
</p>

<p>
 <strong>Life Dates:</strong> 
 <%= life_dates_for(@thinker.life_date_birth, @thinker.life_date_death) %>
</p>

<p>
	<strong>Topics:</strong>
	<% @thinker.topic_list.each do |topic| %>
    <span class="topic">
	   <%= link_to topic, topic_path(topic) %> 
    </span>
	<% end %>
</p>

<p>
	<strong>References:</strong>
	
	<% @thinker.references.each do |reference| %>
      <tr>
        <td><%= reference.authors %></td>
        <td><%= "( #{reference.publishing_year} )" %></td>
        <td><%= "'#{reference.title}', " %></td>
        <td><%= "#{reference.publisher}: "%></td>
        <td><%= "#{reference.place_of_publication}." %></td>
      
      </tr>
    <% end %>
	
</p>

 <p>
  <strong>Email:</strong>
  <%= @thinker.email %>
</p>

<p>
  <strong>Additional Information:</strong>
  <%= @thinker.additional_information %>
</p>

<%= link_to 'Edit Thinker', edit_thinker_path(@thinker) %> |
<%= link_to 'New Reference', new_thinker_reference_path(@thinker) %> |
<%= link_to 'See and Edit References', thinker_references_path(@thinker) %> |
<%= link_to 'Back', thinkers_path %>

</div>