<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Thinkerinnen*", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "View Thinkers",   thinkers_path %></li>
        <li><%= link_to 'New Thinker', new_thinker_path %></li>
            <%= render 'devise/registration_items' %>
            <%= render 'devise/login_items' %>
      </ul>
    </nav>
  </div>
</header>

